* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font: 'Josefin Sans', sans-serif;

    /* Colores */

    /* Primarios */
    --desaturated-red: hsl(0, 36%, 70%);
    --soft-red: hsl(0, 93%, 68%);

    /* Neutrales */
    --dark-grayish-red: hsl(0, 6%, 24%);

}

body {
    width: 100%;
    max-width: 375px;
    height: 100vh;
    margin: 0 auto;
    font-family: var(--font);
    font-size: 16px;
    /* background: red; */

    display: grid;
    grid-template-areas:
        "header" "header"
        "hero" "hero"
        "content" "content"
        "content" "content"
        "footer" "footer";
    grid-template-columns: repeat(2, 1fr);
}

/* Header */
.header {
    grid-area: header;
    grid-column: 1 / -1;
}

/* Header Logo */
.logo {
    width: 50%;
    padding: 2em;
    padding-right: 0;
}

/* Logo img */
.logo__img {
    display: inline-block;
    width: 70%;
    height: auto;
}

/* Hero */
.hero {
    grid-area: hero;
    grid-column: 1 / -1;
}

/* Hero img */
.hero__img {
    display: inline-block;
    width: 100%;
    height: auto;
}

/* Hero img desktop */
.hero__img--desktop {
    display: none;
}

/* Main */
.main {
    margin-top: 2.5em;
    grid-area: content;
    grid-column: 1 / -1;
}


/* Main text */
.main__text {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

/* Main span */
.main__span {
    color: var(--desaturated-red);
    font-weight: 300;
}

/* Text h1 */
.main__h1 {
    font-size: 2.5em;
    font-weight: 600;
    letter-spacing: 10px;
    line-height: 1;
    text-transform: uppercase;
    color: var(--dark-grayish-red);
}


/* Text p */
.main__p {
    margin-top: 1em;
    font-weight: 400;
    line-height: 1.5;
    color: var(--desaturated-red);
}

/* Form */
.form {
    width: 90%;
    margin: 0 auto;
    margin-top: 2em;
    text-align: center;
}

/* Form input */
.form__input {
    width: 90%;
    padding: 1.4em 1.5rem;
    border: 1px solid var(--desaturated-red);
    border-radius: 30px;
    outline: none;
    color: var(--dark-grayish-red);
    font-weight: 600;
}

/* Input placeholder */
.form__input::placeholder {
    font-family: var(--font);
    color: var(--desaturated-red);
}

.form__input:autofill {
    background-color: red;
}

/* Input error */

.form__input--error {
    /* Aumentar border a 2 - 2.5 */
    border-color: var(--soft-red);
}

/* Form contenedor */
.form__contenedor {
    position: relative;
}

/* Form boton */
.form__boton {
    height: 55px;
    padding: 1em 1.9rem;
    border: none;
    border-radius: 25px;
    background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));

    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
}

/* Focus Form boton */
.form__boton:focus {
    background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 100%, 75%));
    box-shadow: 0px 5px 20px var(--desaturated-red);
}

/* Boton imagen */
.form__img {
    display: inline-block;
    width: 100%;
}

/* Boton imagen error */
.form__img-error {
    height: 24px;
    width: 24px;

    position: absolute;
    z-index: 50;
    top: 30%;
    right: 25%;
}

/* Mensaje error */
.form__p {
    display: inline-block;
    width: 75%;
    margin-top: .6em;
    color: var(--soft-red);
    font-size: .8em;
    font-weight: 400;
    text-align: left;
}

/* Footer */
.footer {
    margin-top: 3em;
    grid-area: footer;
    grid-column: 1 / -1;
}


/* Desktop */

@media only screen and (min-width: 1280px) {

    html {
        position: relative;
    }

    /* Patron */
    html::before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-image: url(/images/bg-pattern-desktop.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: left;
    }

    body {
        max-width: 1440px;
        position: relative;

        grid-template-areas: none;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(5, 1fr);
    }

    /* Header */
    .header {
        grid-column: span 2;
        grid-row: 1;
        align-self: center;
    }

    /* Logo img */
    .logo__img {
        width: 60%;
    }

    /* Hero */
    .hero {
        grid-column: 3 / -1;
        grid-row: 1 / -1;
    }

    /* Hero mobile */
    .hero__img {
        display: none;
    }

    /* Hero desktop */
    .hero__img--desktop {
        display: block;
        height: 100%;
        object-fit: cover;
    }

    /* Main */
    .main {
        margin-top: 5rem;

        grid-column: span 2;
        grid-row: 2 / -1;

    }

    /* Main text */
    .main__text {
        text-align: left;
    }

    /* Text h1 */
    .main__h1 {
        font-size: 5em;
    }

    /* Text p */
    .main__p {
        width: 80%;
        font-size: 1.2em;
    }

    /* Form */
    .form {
        margin-top: 2.5em;
        text-align: left;
    }

    /* Form input */
    .form__input {
        width: 80%;
        padding: 1.5em 1.5rem;
        border-radius: 40px;
        font-size: 1em;
    }

    /* Input placeholder */
    .form__input::placeholder {
        font-size: 1.2em;
    }

    /* Form boton */
    .form__boton {
        height: 68px;
        padding: 1em 3rem;
        border-radius: 35px;
        cursor: pointer;
        transition: all .2s ease;

        right: 20%;
    }

    /* Hover Form boton */
    .form__boton:hover {
        background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 100%, 75%));
        box-shadow: 0px 5px 20px var(--desaturated-red);
    }

    /* Boton imagen error */
    .form__img-error {
        right: 40%;
    }

    /* Mensaje error */
    .form__p {
        font-size: 1em;
        margin-left: 1.5rem;
    }

    /* Footer */
    .footer {
        display: none;
    }

}