* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font: 'Josefin Sans', sans-serif;

    /* Colores */

    /* Primarios */
    --desaturated-red: hsl(0, 36%, 70%);
    --soft-red: hsl(0, 93%, 68%);

    /* Neutrales */
    --dark-grayish-red: hsl(0, 6%, 24%);

}

body {
    width: 100%;
    max-width: 375px;
    margin: 0 auto;
    font-family: var(--font);
    font-size: 16px;
    /* background: red; */

    display: grid;
    grid-template-areas:
        "header" "header"
        "hero" "hero"
        "content" "content"
        "content" "content"
        "footer" "footer";
    grid-template-columns: repeat(2, 1fr);
}

/* Header */
.header {
    /* background: green; */

    grid-area: header;
    grid-column: 1 / -1;
}

/* Header Logo */
.logo {
    width: 50%;
    padding: 2em;
    padding-right: 0;
}

/* Logo img */
.logo__img {
    display: inline-block;
    width: 70%;
    height: auto;
}

/* Hero */
.hero {
    grid-area: hero;
    grid-column: 1 / -1;
}

/* Hero img */
.hero__img {
    display: inline-block;
    width: 100%;
    height: auto;
}

/* Main */
.main {
    /* background: red; */
    margin-top: 2.5em;
    grid-area: content;
    grid-column: 1 / -1;
}


/* Main text */
.main__text {
    /* background: green; */
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

/* Main span */
.main__span {
    color: var(--desaturated-red);
    font-weight: 300;
}

/* Text h1 */
.main__h1 {
    font-size: 2.5em;
    font-weight: 600;
    letter-spacing: 10px;
    line-height: 1;
    text-transform: uppercase;
    color: var(--dark-grayish-red);
}


/* Text p */
.main__p {
    margin: 1em 0 0 0;
    font-weight: 400;
    line-height: 1.2;
    color: var(--desaturated-red);
}

/* Form */
.form {
    width: 90%;
    margin: 0 auto;
    margin-top: 2em;
    text-align: center;
    position: relative;
    /* background: red; */
}

/* Form input */
.form__input {
    /* background: red; */
    width: 90%;
    padding: 1.4em 1.5rem;
    border: 1px solid var(--desaturated-red);
    border-radius: 30px;
    outline: none;
    color: var(--dark-grayish-red);
}

/* Input placeholder */
.form__input::placeholder {
    font-family: var(--font);
    color: var(--desaturated-red);
}

/* Input error */
/* 
.form__input--error {
    border-color: var(--soft-red);
} */

/* Form boton */
.form__boton {
    height: 100%;
    padding: 1em 1.9rem;
    border: none;
    border-radius: 25px;
    background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));

    position: absolute;
    top: 0;
    right: 0;
    z-index: 50;
}

/* Boton imagen */
.form__img {
    display: inline-block;
    width: 100%;
    height: auto;
}

/* Footer */
.footer {
    margin-top: 3em;
    grid-area: footer;
    grid-column: 1 / -1;
}